# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Vector database
vectorstore/

# Uploaded files
uploads/

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store